html {
    font-size: 16px;
}

body {
    margin: 0;
    background: #F4F0E6;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


header {
    background: #1F3623;
    padding: 10px 20px;
    text-align: center;
}

.header {
    background: #1F3623;
    padding: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.titulo {
    font-family: 'Playfair Display', serif;
    color: #CFE0BC;
    font-size: 3rem;
    margin: 0;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

nav a {
    font-size: 1.3rem;
    font-weight: 300;
    color: #22300B;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}

nav a:hover {
    color: #2f3a22;
    transform: scale(1.08);

}


.menu {
    display: flex;
    justify-content: center;
    gap: 23px;
    flex: 1;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}


.logo {
    width: 110px;
    height: auto;
}


.section {
    display: none;
    padding: 15px;
}

.active {
    display: block;
}


.container {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}


.promo {
    width: 260px;
    min-width: 250px;
    padding: 15px;
    background: #80a166;
    border-radius: 13px;
    text-align: center;
    height: 400px;
}

.img-promocao {
    width: 100%;
    margin-bottom: 20px;
    height: 200px;
}

.promo-texto {
    color: #dbefaf;
    font-size: 1.7rem;
    margin: 0;
}

.promo-desconto {
    color: #dbefaf;
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.promo-subtexto {
    color: #dbefaf;
    font-size: 1.5rem;
}


.produtos {
    flex: 1;
}

.titulo-destaque {
    color: #0e5c08;
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    cursor: pointer;
    background: rgb(157, 195, 159);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.nome-produto {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 8px;
}


.preco-container {
    margin-top: 9px;
    
}

.preco-antigo {
    font-size: 1.0rem;
    color: #3d3c3c;
    text-decoration: line-through;
}

.linha-preco {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.preco {
    font-size: 1.2rem;
    font-weight: bold;
     text-align: center;
    
}



.desconto {
    font-size: 1.1rem;
    color: red;
    font-weight: bold;
     text-align: center;
}


.beneficios {
    margin-top: 20px;
    background: #b1c7b5;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.beneficio {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.sobre-container {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
}

.sobre-imagem {
    width: 40%;
}

.sobre-imagem img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 20px;
}

.texto {
    width: 60%;
    font-size: 1rem;
}

.texto h2 {
    color: #36411f;
}

.texto p {
    color: #555;
    line-height: 1.6;
}

#avaliacoes h2 {
    font-size: 1.5rem;
    color: #0E5c08;
    margin-bottom: 20px;
}

.avaliacao-card {
    background: #c5d6c6;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.stars {
    color: #efcf4f;
    font-size: 1.2rem;
}

.titulo-avaliacao {
    font-size: 1.2rem;
    font-weight: bold;
}

.texto-avaliacao {
    font-size: 1rem;
    color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 600px;
    max-width: 90%;
    padding: 30px;
    border-radius: 20px;
    position: relative; /* ESSENCIAL pro X funcionar */
    text-align: center;
}

.modal-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.modal-content h2 {
    font-size: 1.5rem;
}

.modal-content p {
    font-size: 1rem;
}
.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    z-index: 10000;
}
.modal-precos {
    margin-top: 20px;
    text-align: center;
}
.fechar:hover {
    color: red;
}


@media (max-width: 900px) {

    .container {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .beneficios {
        flex-direction: column;
    }

    .sobre-container {
        flex-direction: column;
    }

    .sobre-imagem,
    .texto {
        width: 100%;
    }
}

.projetos { 
    flex: 1;
}
.titulo-projetos {
    color: #0e5c08;
    font-size: 1.5rem;
}

#projetos .nome-produto {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 8px;
}

.grid-projetos {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    cursor: pointer;
    background: #d8dbd8;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.nome-produto {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 8px;
}


@media (max-width: 900px) {

    .container {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .beneficios {
        flex-direction: column;
    }

    .sobre-container {
        flex-direction: column;
    }

    .sobre-imagem,
    .texto {
        width: 100%;
    }
}